body {
    background-color: grey;
}

h1 {
    color: red;
    justify-self: center;
}

h2 {
    color: blue;
}

.longPara {
    padding: 2;
}

.increaseFontWeight {
    font-weight: 700;
    font-style: Arial;
}

.AustinPic {
    border-color: blue;
    margin: 3;
}